.button {
    display: flex;
    border-radius: 50px;
    border: thin solid var(--border-color);
    cursor: pointer;
    padding: 5px 20px;
    align-self: center;
    transition: all 0.5s ease-in-out;
}

.arrowRight {
    align-self: center;
}

.button:hover>.arrowRight {
    transition: all 0.5s ease-in-out;
    transform: translatex(4px);
}

.button:active {
    transform: translateY(2px);
}